<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.apache.cordova.device" version="0.2.3">
    <name>PGP</name>
    <description>Cordova NetPGP Plugin</description>
    <license>BSD</license>
    <keywords>cordova,netpgp,pgp</keywords>
    <js-module src="www/openpgp.js" name="openpgp"></js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVPGP"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVPGP.h" />
        <source-file src="src/ios/CDVPGP.m" />
    </platform>
</plugin>