<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.humanpractice.cordova.pgp" version="1.0.1">
    <name>CordovaPGP</name>
    <description>Cordova PGP Plugin</description>
    <author>James Knight (james@gradient.nyc)</author>
    <keywords>cordova,netpgp,pgp,openpgp</keywords>
    <license>MIT</license>
    <js-module src="www/cordovapgp.js" name="cordovapgp">
        <clobbers target="CordovaPGP" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPGP">
                <param name="ios-package" value="CordovaPGP"/>
            </feature>
        </config-file>
        <header-file src="ASCIIArmor.h"/>
        <source-file src="ASCIIArmor.m"/>
        <header-file src="Crypto.h"/>
        <source-file src="Crypto.m"/>
        <header-file src="Key.h"/>
        <source-file src="Key.m"/>
        <header-file src="KeyPacket.h"/>
        <source-file src="KeyPacket.m"/>
        <header-file src="Keypair.h"/>
        <source-file src="Keypair.m"/>
        <header-file src="Keyring.h"/>
        <source-file src="Keyring.m"/>
        <header-file src="LiteralDataPacket.h"/>
        <source-file src="LiteralDataPacket.m"/>
        <header-file src="MPI.h"/>
        <source-file src="MPI.m"/>
        <header-file src="OnePassSignaturePacket.h"/>
        <source-file src="OnePassSignaturePacket.m"/>
        <header-file src="OpenPGP.h"/>
        <source-file src="OpenPGP.m"/>
        <header-file src="PKESPacket.h"/>
        <source-file src="PKESPacket.m"/>
        <header-file src="Packet.h"/>
        <source-file src="Packet.m"/>
        <header-file src="PacketList.h"/>
        <source-file src="PacketList.m"/>
        <header-file src="PacketReader.h"/>
        <source-file src="PacketReader.m"/>
        <header-file src="SEDataPacket.h"/>
        <source-file src="SEDataPacket.m"/>
        <header-file src="SEIPDataPacket.h"/>
        <source-file src="SEIPDataPacket.m"/>
        <header-file src="Signature.h"/>
        <source-file src="Signature.m"/>
        <header-file src="SignaturePacket.h"/>
        <source-file src="SignaturePacket.m"/>
        <header-file src="UserIDPacket.h"/>
        <source-file src="UserIDPacket.m"/>
        <header-file src="Utility.h"/>
        <source-file src="Utility.m"/>
        <source-file src="src/ios/libssl.a" framework="true" />
        <source-file src="src/ios/libcrypto.a" framework="true" />
        <framework src="libz.dylib" />
        <framework src="libbz2.dylib" />
    </platform>
</plugin>