<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.humanpractice.cordova.pgp" version="1.0.1">
    <name>PGP</name>
    <description>Cordova PGP Plugin</description>
    <author>James Knight (james@gradient.nyc)</author>
    <keywords>cordova,netpgp,pgp,openpgp</keywords>
    <license>MIT</license>
    <js-module src="www/openpgp.js" name="openpgp"></js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPGP">
                <param name="ios-package" value="CordovaPGP"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CordovaPGP.h"/>
        <source-file src="src/ios/CordovaPGP.m"/>
        <header-file src="src/ios/PGP.h"/>
        <source-file src="src/ios/PGP.m"/>
        <source-file src="src/ios/bufgap.c"/>
        <header-file src="src/ios/bufgap.h"/>
        <source-file src="src/ios/compress.c"/>
        <header-file src="src/ios/config.h"/>
        <source-file src="src/ios/create.c"/>
        <header-file src="src/ios/create.h"/>
        <source-file src="src/ios/crypto.c"/>
        <header-file src="src/ios/crypto.h"/>
        <header-file src="src/ios/defs.h"/>
        <header-file src="src/ios/errors.h"/>
        <source-file src="src/ios/keyring.c"/>
        <header-file src="src/ios/keyring.h"/>
        <header-file src="src/ios/memory.h"/>
        <source-file src="src/ios/misc.c"/>
        <source-file src="src/ios/mj.c"/>
        <header-file src="src/ios/mj.h"/>
        <header-file src="src/ios/mj_defs.h"/>
        <source-file src="src/ios/netpgp.c"/>
        <header-file src="src/ios/netpgp.h"/>
        <header-file src="src/ios/netpgpdefs.h"/>
        <header-file src="src/ios/netpgpdigest.h"/>
        <header-file src="src/ios/netpgpsdk.h"/>
        <source-file src="src/ios/openssl_crypto.c"/>
        <source-file src="src/ios/packet-parse.c"/>
        <header-file src="src/ios/packet-parse.h"/>
        <source-file src="src/ios/packet-print.c"/>
        <source-file src="src/ios/packet-show.c"/>
        <header-file src="src/ios/packet-show.h"/>
        <header-file src="src/ios/packet.h"/>
        <source-file src="src/ios/reader.c"/>
        <header-file src="src/ios/readerwriter.h"/>
        <source-file src="src/ios/signature.c"/>
        <header-file src="src/ios/signature.h"/>
        <source-file src="src/ios/ssh2pgp.c"/>
        <header-file src="src/ios/ssh2pgp.h"/>
        <source-file src="src/ios/symmetric.c"/>
        <header-file src="src/ios/types.h"/>
        <source-file src="src/ios/validate.c"/>
        <header-file src="src/ios/validate.h"/>
        <header-file src="src/ios/version.h"/>
        <source-file src="src/ios/writer.c"/>
        <header-file src="src/ios/writer.h"/>
        <source-file src="src/ios/libPods-OpenSSL-Universal.a" framework="true" />
        <framework src="libz.dylib" />
        <framework src="libbz2.dylib" />
    </platform>
</plugin>